@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: #f3efe7;
        --color-secondary: #a0221c;
        --color-secondary-text: #dfae74;
        --color-ternary: #7e1a16;
        --font-inter: 'Inter', system-ui, -apple-system, sans-serif;
        --font-playfair: 'Playfair Display', Georgia, serif;
    }

    html {
        font-family: var(--font-inter);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
        scroll-behavior: smooth;
        overflow-x: hidden;
        background-color: var(--color-primary);
    }

    body {
        overflow-x: hidden;
    }

    h1,
    h2,
    h3 {
        font-family: var(--font-josefin);
        font-weight: bold;
    }

    p {
        font-family: var(--font-inter);
    }
}
.embla {
    max-width: 48rem;
    /* margin: auto; */
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 100%;
}
.embla__viewport {
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
}
.embla__slide__img {
    display: block;
    height: var(--slide-height);
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.8rem;
}
.embla__controls {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 1.2rem;
    margin-top: 1.8rem;
}
.embla__slide__img {
    user-select: none;
}

.content h2 {
    @apply text-3xl font-bold mt-5;
}

.content h3 {
    @apply text-2xl font-medium mt-5;
}

.content p {
    @apply text-xl;
}

.content li {
    @apply list-disc;
}

/* From Uiverse.io by alexruix */
.card {
    width: 15rem;
    height: 20rem;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
}

.card-details {
    color: black;
    height: 100%;
    gap: 0.5em;
}

.card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    text-align: center;
    border-radius: 1rem;
    border: none;
    background-color: var(--color-secondary);
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
    display: block;
}

.card-button:hover {
    background-color: var(--color-ternary);
}

.text-body {
    color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
    font-size: 1.5em;
    font-weight: bold;
}

/*Hover*/
.card:hover {
    border-color: var(--color-secondary);
    box-shadow: 0 4px 18px 0 #7e1a1650;
}

.card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
}

@media (max-width: 1024px) {
    .card .card-button {
        transform: translate(-50%, 50%);
        opacity: 1;
    }
}
